<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- CSS
	============================================ -->
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <!-- Pe-icon-7-stroke CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/pe-icon-7-stroke.css' %}">
    <!-- Font-awesome CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
    <!-- Slick slider css -->
    <link rel="stylesheet" href="{% static 'css/plugins/slick.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}">
    <!-- Nice Select css -->
    <link rel="stylesheet" href="{% static 'css/plugins/nice-select.css' %}">
    <!-- jquery UI css -->
    <link rel="stylesheet" href="{% static 'css/plugins/jqueryui.min.css' %}">
    <!-- main style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Start Header Area -->
    {% include 'header.html'%}
    <!-- end Header Area -->

    {% block body %} {% endblock body %}

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scroll to Top End -->

    <!-- footer area start -->
    {% include 'footer.html'%}
    <!-- footer area end -->




    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <!-- slick Slider JS -->
    <script src="{% static 'js/plugins/slick.min.js' %}"></script>
    <!-- Countdown JS -->
    <script src="{% static 'js/plugins/countdown.min.js' %}"></script>
    <!-- Nice Select JS -->
    <script src="{% static 'js/plugins/nice-select.min.js' %}"></script>
    <!-- jquery UI JS -->
    <script src="{% static 'js/plugins/jqueryui.min.js' %}"></script>
    <!-- Image zoom JS -->
    <script src="{% static 'js/plugins/image-zoom.min.js' %}"></script>
    <!-- Imagesloaded JS -->
    <script src="{% static 'js/plugins/imagesloadd.pkgd.min.js' %}"></script>
    <!-- Instagram feed JS -->
    <script src="{% static 'js/plugins/instagramfeed.min.js' %}"></script>
    <!-- mailchimp active js -->
    <script src="{% static 'js/plugins/ajaxchimp.js' %}"></script>
    <!-- contact form dynamic js -->
    <script src="{% static 'js/plugins/ajax-mail.js' %}"></script>
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfmCVTjRI007pC1Yk2o2d_EhgkjTsFVN8"></script>
    <!-- google map active js -->
    <script src="{% static 'js/plugins/google-map.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>