{% extends 'base.html' %}
{% load static %}

{% block title %} Corano - Jwellery Store {% endblock title%}
{% block body %} 
<main>
    <!-- hero slider area start -->
    <section class="slider-area">
        <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
            <!-- single slider item start -->
            <div class="hero-single-slide hero-overlay">
                <div class="hero-slider-item bg-img" data-bg="{% static 'img/slider/home1-slide2.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="hero-slider-content slide-1">
                                    <h2 class="slide-title">Family Jewellery <span>Collection</span></h2>
                                    <h4 class="slide-desc">Designer Jewellery Necklaces-Bracelets-Earings</h4>
                                    <a href="{% url 'shopPage' %}" class="btn btn-hero">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single slider item start -->
            
            <!-- single slider item start -->
            <div class="hero-single-slide hero-overlay">
                <div class="hero-slider-item bg-img" data-bg="{% static 'img/slider/home1-slide3.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="hero-slider-content slide-2 float-md-right float-none">
                                    <h2 class="slide-title">Diamonds Jewellery<span>Collection</span></h2>
                                    <h4 class="slide-desc">Shukra Yogam & Silver Power Silver Saving Schemes.</h4>
                                    <a href="{% url 'shopPage' %}" class="btn btn-hero">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single slider item start -->

            <!-- single slider item start -->
            <div class="hero-single-slide hero-overlay">
                <div class="hero-slider-item bg-img" data-bg="{% static 'img/slider/home1-slide3.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="hero-slider-content slide-3">
                                    <h2 class="slide-title">Grace Designer<span>Jewellery</span></h2>
                                    <h4 class="slide-desc">Rings, Occasion Pieces, Pandora & More.</h4>
                                    <a href='{% url "shopPage" %}' class="btn btn-hero">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single slider item end -->
        </div>
    </section>
    <!-- hero slider area end -->

    <!-- twitter feed area start -->
    <div class="twitter-feed">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="twitter-feed-content text-center">
                        <p>Check out "Corano - Multipurpose eCommerce Bootstrap 4 template" on #Envato by @<a href="#">Corano</a> #Themeforest <a href="http://1.envato.market/9LbxW">http://1.envato.market/9LbxW</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- twitter feed area end -->

    <!-- service policy area start -->
    <div class="service-policy section-padding">
        <div class="container">
            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-3">
                    <div class="policy-item">
                        <div class="policy-icon">
                            <i class="pe-7s-plane"></i>
                        </div>
                        <div class="policy-content">
                            <h6>Free Shipping</h6>
                            <p>Free shipping all order</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="policy-item">
                        <div class="policy-icon">
                            <i class="pe-7s-help2"></i>
                        </div>
                        <div class="policy-content">
                            <h6>Support 24/7</h6>
                            <p>Support 24 hours a day</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="policy-item">
                        <div class="policy-icon">
                            <i class="pe-7s-back"></i>
                        </div>
                        <div class="policy-content">
                            <h6>Money Return</h6>
                            <p>30 days for free return</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="policy-item">
                        <div class="policy-icon">
                            <i class="pe-7s-credit"></i>
                        </div>
                        <div class="policy-content">
                            <h6>100% Payment Secure</h6>
                            <p>We ensure secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service policy area end -->

    <!-- banner statistics area start -->
    <div class="banner-statistics-area">
        <div class="container">
            <div class="row row-20 mtn-20">
                <div class="col-sm-6">
                    <figure class="banner-statistics mt-20">
                        <a href="{% url 'shopPageItemCategory' item_category_name='ring'%}">
                            <img src="{% static 'img/banner/img1-top.jpg' %}" alt="product banner">
                        </a>
                        <div class="banner-content text-right">
                            <h5 class="banner-text1">BEAUTIFUL</h5>
                            <h2 class="banner-text2">Wedding<span>Rings</span></h2>
                            <a href="{% url 'shopPageItemCategory' item_category_name='ring'%}" class="btn btn-text">Shop Now</a>
                        </div>
                    </figure>
                </div>
                <div class="col-sm-6">
                    <figure class="banner-statistics mt-20">
                        <a href="{% url 'shopPageItemCategory' item_category_name='earring'%}">
                            <img src="{% static 'img/banner/img2-top.jpg' %}" alt="product banner">
                        </a>
                        <div class="banner-content text-center">
                            <h5 class="banner-text1">EARRINGS</h5>
                            <h2 class="banner-text2">Tangerine Floral <span>Earring</span></h2>
                            <a href="{% url 'shopPageItemCategory' item_category_name='earring'%}" class="btn btn-text">Shop Now</a>
                        </div>
                    </figure>
                </div>
                <div class="col-sm-6">
                    <figure class="banner-statistics mt-20">
                        <a href="{% url 'shopPageItemCategory' item_category_name='necklace'%}">
                            <img src="{% static 'img/banner/img3-top.jpg' %}" alt="product banner">
                        </a>
                        <div class="banner-content text-center">
                            <h5 class="banner-text1">NEW ARRIVALLS</h5>
                            <h2 class="banner-text2">Pearl<span>Necklaces</span></h2>
                            <a href="{% url 'shopPageItemCategory' item_category_name='necklace'%}" class="btn btn-text">Shop Now</a>
                        </div>
                    </figure>
                </div>
                <div class="col-sm-6">
                    <figure class="banner-statistics mt-20">
                        <a href="{% url 'shopPageItemCategory' item_category_name='bracelet'%}">
                            <img src="{% static 'img/banner/img4-top.jpg' %}" alt="product banner">
                        </a>
                        <div class="banner-content text-right">
                            <h5 class="banner-text1">NEW DESIGN</h5>
                            <h2 class="banner-text2">Diamond<span>Jewelry</span></h2>
                            <a href="{% url 'shopPageItemCategory' item_category_name='bracelet'%}" class="btn btn-text">Shop Now</a>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!-- banner statistics area end -->

    <!-- product area start -->
    <section class="product-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- section title start -->
                    <div class="section-title text-center">
                        <h2 class="title">our products</h2>
                        <p class="sub-title">Add our products to weekly lineup</p>
                    </div>
                    <!-- section title start -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-container">
                        <!-- product tab menu start -->
                        <div class="product-tab-menu">
                            <ul class="nav justify-content-center">
                                <li><a href="#tab1" class="active" data-toggle="tab">Rings</a></li> 
                                <li><a href="#tab2" data-toggle="tab">Necklaces</a></li>
                                <li><a href="#tab3" data-toggle="tab">Earrings</a></li>
                                <li><a href="#tab4" data-toggle="tab">Bracelets</a></li>
                            </ul>
                        </div>
                        <!-- product tab menu end -->

                        
                        <!-- product tab content start -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="product-carousel-4 slick-row-10 slick-arrow-style">
                                    <!-- product item start -->
                                    {% for i in product_brand_item_data %}
                                    {% if i.brand_item_fk.item_fk.item_category_name == 'ring' %}
                                    <div class="product-item">
                                        <figure class="product-thumb">
                                            <a href="{% url 'productDetailsPage' product_id=i.product_fk.product_id %}">
                                                {% for j in image_data %}
                                                    {% if j.product_fk.product_id == i.product_fk.product_id %}
                                                        <img class="product-image" src="{{j.image_path}}" alt="product">
                                                    {% endif %}
                                                {% endfor %}

                                            </a>
                                            <div class="product-badge">
                                                <div class="product-label new">
                                                    <span>new</span>
                                                </div>
                                                <div class="product-label discount">
                                                    <span>{{i.product_fk.product_discount}}%</span>
                                                </div>
                                            </div>
                                            <div class="button-group">
                                                <a href="{% url 'addToWishlistPage' product_id=i.product_fk.product_id %}" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="pe-7s-like"></i></a>
                                            </div>
                                            <div class="cart-hover">
                                                <a href="{% url 'addToCartPage' product_id=i.product_fk.product_id %}"><button class="btn btn-cart">add to cart</button></a>
                                            </div>
                                        </figure>   
                                        <div class="product-caption text-center">
                                            <div class="product-identity">
                                                <p class="manufacturer-name"><a href="{{i.product_fk.product_discount}}">{{i.brand_item_fk.brand_fk.brand_name}}</a></p>
                                            </div>
                                            <ul class="color-categories">
                                                <li>
                                                    <a class="c-red" href="#" title="Red" style="background-color:rgb(177, 1, 1)"></a>
                                                </li>
                                                <li>
                                                    <a class="c-green" href="#" title="Green" style="background-color:rgb(3, 111, 15)"></a>
                                                </li>
                                                <li>
                                                    <a class="c-blue" href="#" title="Blue" style="background-color:rgb(4, 134, 186)"></a>
                                                </li>
                                                <li>
                                                    <a class="c-yellow" href="#" title="Yellow" style="background-color:rgb(208, 196, 41)"></a>
                                                </li>
                                            </ul>
                                            <h6 class="product-name">
                                                <a href="{{i.product_fk.product_discount}}">{{i.product_fk.product_name}}</a>
                                            </h6>
                                            <div class="price-box">
                                                <span class="price-regular">₹ {{i.product_fk.product_discounted_price}}</span>
                                                <span class="price-old"><del>₹ {{i.product_fk.product_price}}</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    <!-- product item end -->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <div class="product-carousel-4 slick-row-10 slick-arrow-style">
                                    <!-- product item start -->
                                    {% for i in product_brand_item_data %}
                                    {% if i.brand_item_fk.item_fk.item_category_name == 'necklace' %}
                                    <div class="product-item">
                                        <figure class="product-thumb">
                                            <a href="{% url 'productDetailsPage' product_id=i.product_fk.product_id %}">
                                                {% for j in image_data %}
                                                {% if j.product_fk.product_id == i.product_fk.product_id %}
                                                <img class="product-image" src="{{j.image_path}}" alt="product">
                                                {% endif %}
                                                {% endfor %}

                                            </a>
                                            <div class="product-badge">
                                                <div class="product-label new">
                                                    <span>new</span>
                                                </div>
                                                <div class="product-label discount">
                                                    <span>{{i.product_fk.product_discount}}</span>
                                                </div>
                                            </div>
                                            <div class="button-group">
                                                <a href="{% url 'addToWishlistPage' product_id=i.product_fk.product_id %}" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="pe-7s-like"></i></a>
                                            </div>
                                            <div class="cart-hover">
                                                <a href="{% url 'addToCartPage' product_id=i.product_fk.product_id %}"><button class="btn btn-cart">add to cart</button></a>
                                            </div>
                                        </figure>
                                        <div class="product-caption text-center">
                                            <div class="product-identity">
                                                <p class="manufacturer-name"><a href="{{i.product_fk.product_discount}}">{{i.brand_item_fk.brand_fk.brand_name}}</a></p>
                                            </div>
                                            <ul class="color-categories">
                                                <li>
                                                    <a class="c-red" href="#" title="Red" style="background-color:rgb(177, 1, 1)"></a>
                                                </li>
                                                <li>
                                                    <a class="c-green" href="#" title="Green" style="background-color:rgb(3, 111, 15)"></a>
                                                </li>
                                                <li>
                                                    <a class="c-blue" href="#" title="Blue" style="background-color:rgb(4, 134, 186)"></a>
                                                </li>
                                                <li>
                                                    <a class="c-yellow" href="#" title="Yellow" style="background-color:rgb(208, 196, 41)"></a>
                                                </li>
                                            </ul>
                                            <h6 class="product-name">
                                                <a href="{{i.product_fk.product_discount}}">{{i.product_fk.product_name}}</a>
                                            </h6>
                                            <div class="price-box">
                                                <span class="price-regular">₹ {{i.product_fk.product_discounted_price}}</span>
                                                <span class="price-old"><del>₹ {{i.product_fk.product_price}}</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    <!-- product item end -->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab3">
                                <div class="product-carousel-4 slick-row-10 slick-arrow-style">
                                    <!-- product item start -->
                                    {% for i in product_brand_item_data %}
                                    {% if i.brand_item_fk.item_fk.item_category_name == 'earring' %}
                                    <div class="product-item">
                                        <figure class="product-thumb">
                                            <a href="{% url 'productDetailsPage' product_id=i.product_fk.product_id %}">
                                                {% for j in image_data %}
                                                {% if j.product_fk.product_id == i.product_fk.product_id %}
                                                <img class="product-image" src="{{j.image_path}}" alt="product">
                                                {% endif %}
                                                {% endfor %}

                                            </a>
                                            <div class="product-badge">
                                                <div class="product-label new">
                                                    <span>new</span>
                                                </div>
                                                <div class="product-label discount">
                                                    <span>{{i.product_fk.product_discount}}</span>
                                                </div>
                                            </div>
                                            <div class="button-group">
                                                <a href="{% url 'addToWishlistPage' product_id=i.product_fk.product_id %}" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="pe-7s-like"></i></a>
                                            </div>
                                            <div class="cart-hover">
                                                <a href="{% url 'addToCartPage' product_id=i.product_fk.product_id %}"><button class="btn btn-cart">add to cart</button></a>
                                            </div>
                                        </figure>
                                        <div class="product-caption text-center">
                                            <div class="product-identity">
                                                <p class="manufacturer-name"><a href="{{i.product_fk.product_discount}}">{{i.brand_item_fk.brand_fk.brand_name}}</a></p>
                                            </div>
                                            <ul class="color-categories">
                                                <li>
                                                    <a class="c-red" href="#" title="Red" style="background-color:rgb(177, 1, 1)"></a>
                                                </li>
                                                <li>
                                                    <a class="c-green" href="#" title="Green" style="background-color:rgb(3, 111, 15)"></a>
                                                </li>
                                                <li>
                                                    <a class="c-blue" href="#" title="Blue" style="background-color:rgb(4, 134, 186)"></a>
                                                </li>
                                                <li>
                                                    <a class="c-yellow" href="#" title="Yellow" style="background-color:rgb(208, 196, 41)"></a>
                                                </li>
                                            </ul>
                                            <h6 class="product-name">
                                                <a href="{{i.product_fk.product_discount}}">{{i.product_fk.product_name}}</a>
                                            </h6>
                                            <div class="price-box">
                                                <span class="price-regular">₹ {{i.product_fk.product_discounted_price}}</span>
                                                <span class="price-old"><del>₹ {{i.product_fk.product_price}}</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    <!-- product item end -->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab4">
                                <div class="product-carousel-4 slick-row-10 slick-arrow-style">
                                    <!-- product item start -->
                                    {% for i in product_brand_item_data %}
                                    {% if i.brand_item_fk.item_fk.item_category_name == 'bracelet' %}
                                    <div class="product-item">
                                        <figure class="product-thumb">
                                            <a href="{% url 'productDetailsPage' product_id=i.product_fk.product_id %}">
                                                {% for j in image_data %}
                                                {% if j.product_fk.product_id == i.product_fk.product_id %}
                                                <img class="product-image" src="{{j.image_path}}" alt="product">
                                                {% endif %}
                                                {% endfor %}

                                            </a>
                                            <div class="product-badge">
                                                <div class="product-label new">
                                                    <span>new</span>
                                                </div>
                                                <div class="product-label discount">
                                                    <span>{{i.product_fk.product_discount}}%</span>
                                                </div>
                                            </div>
                                            <div class="button-group">
                                                <a href="{% url 'addToWishlistPage' product_id=i.product_fk.product_id %}" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="pe-7s-like"></i></a>
                                            </div>
                                            <div class="cart-hover">
                                                <a href="{% url 'addToCartPage' product_id=i.product_fk.product_id %}"><button class="btn btn-cart">add to cart</button></a>
                                            </div>
                                        </figure>
                                        <div class="product-caption text-center">
                                            <div class="product-identity">
                                                <p class="manufacturer-name"><a href="{{i.product_fk.product_discount}}">{{i.brand_item_fk.brand_fk.brand_name}}</a></p>
                                            </div>
                                            <ul class="color-categories">
                                                <li>
                                                    <a class="c-red" href="#" title="Red" style="background-color:rgb(177, 1, 1)"></a>
                                                </li>
                                                <li>
                                                    <a class="c-green" href="#" title="Green" style="background-color:rgb(3, 111, 15)"></a>
                                                </li>
                                                <li>
                                                    <a class="c-blue" href="#" title="Blue" style="background-color:rgb(4, 134, 186)"></a>
                                                </li>
                                                <li>
                                                    <a class="c-yellow" href="#" title="Yellow" style="background-color:rgb(208, 196, 41)"></a>
                                                </li>
                                            </ul>
                                            <h6 class="product-name">
                                                <a href="{{i.product_fk.product_discount}}">{{i.product_fk.product_name}}</a>
                                            </h6>
                                            <div class="price-box">
                                                <span class="price-regular">₹ {{i.product_fk.product_discounted_price}}</span>
                                                <span class="price-old"><del>₹ {{i.product_fk.product_price}}</del></span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    <!-- product item end -->
                                </div>
                            </div>
                        </div>
                        <!-- product tab content end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product area end -->

    <!-- product banner statistics area start -->
    <section class="product-banner-statistics">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="product-banner-carousel slick-row-10">
                        <!-- banner single slide start -->
                        <div class="banner-slide-item">
                            <figure class="banner-statistics">
                                <a href="{% url 'shopPageItemCategory' item_category_name='bracelet'%}">
                                    <img src="{% static 'img/banner/img1-middle.jpg' %}" alt="product banner">
                                </a>
                                <div class="banner-content banner-content_style2">
                                    <h5 class="banner-text3"><a href="{% url 'shopPageItemCategory' item_category_name='bracelet'%}">BRACELETS</a></h5>
                                </div>
                            </figure>
                        </div>
                        <!-- banner single slide start -->
                        <!-- banner single slide start -->
                        <div class="banner-slide-item">
                            <figure class="banner-statistics">
                                <a href="{% url 'shopPageItemCategory' item_category_name='earring'%}">
                                    <img src="{% static 'img/banner/img2-middle.jpg' %}" alt="product banner">
                                </a>
                                <div class="banner-content banner-content_style2">
                                    <h5 class="banner-text3"><a href="{% url 'shopPageItemCategory' item_category_name='earring'%}">EARRINGS</a></h5>
                                </div>
                            </figure>
                        </div>
                        <!-- banner single slide start -->
                        <!-- banner single slide start -->
                        <div class="banner-slide-item">
                            <figure class="banner-statistics">
                                <a href="{% url 'shopPageItemCategory' item_category_name='necklace'%}">
                                    <img src="{% static 'img/banner/img3-middle.jpg' %}" alt="product banner">
                                </a>
                                <div class="banner-content banner-content_style2">
                                    <h5 class="banner-text3"><a href="{% url 'shopPageItemCategory' item_category_name='necklace'%}">NECKLACES</a></h5>
                                </div>
                            </figure>
                        </div>
                        <!-- banner single slide start -->
                        <!-- banner single slide start -->
                        <div class="banner-slide-item">
                            <figure class="banner-statistics">
                                <a href="{% url 'shopPageItemCategory' item_category_name='ring'%}">
                                    <img src="{% static 'img/banner/img4-middle.jpg' %}" alt="product banner">
                                </a>
                                <div class="banner-content banner-content_style2">
                                    <h5 class="banner-text3"><a href="{% url 'shopPageItemCategory' item_category_name='ring'%}">RINGS</a></h5>
                                </div>
                            </figure>
                        </div>
                        <!-- banner single slide start -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product banner statistics area end -->

    <!-- featured product area start -->
       <section class="feature-product section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- section title start -->
                    <div class="section-title text-center">
                        <h2 class="title">featured products</h2>
                        <p class="sub-title">Add featured products to weekly lineup</p>
                    </div>
                    <!-- section title start -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-carousel-4_2 slick-row-10 slick-arrow-style">
                        <!-- product item start -->
                        {% for i in product_brand_item_data %}
                        {% if i.product_fk.product_is_featured == 'True' %}
                        <div class="product-item">
                            <figure class="product-thumb">
                                <a href="{% url 'productDetailsPage' product_id=i.product_fk.product_id %}">
                                    {% for j in image_data %}
                                    {% if j.product_fk.product_id == i.product_fk.product_id %}
                                    <img class="product-image" src="{{j.image_path}}" alt="product">
                                    {% endif %}
                                    {% endfor %}
                                </a>
                                <div class="product-badge">
                                    <div class="product-label new">
                                        <span>new</span>
                                    </div>
                                    <div class="product-label discount">
                                        <span>{{i.product_fk.product_discount}}%</span>
                                    </div>
                                </div>
                                <div class="button-group">
                                    <a href="{% url 'addToWishlistPage' product_id=i.product_fk.product_id %}" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="pe-7s-like"></i></a>
                                </div>
                                <div class="cart-hover">
                                    <a href="{% url 'addToCartPage' product_id=i.product_fk.product_id %}"><button class="btn btn-cart">add to cart</button></a>
                                </div>
                            </figure>
                            <div class="product-caption text-center">
                                <div class="product-identity">
                                    <p class="manufacturer-name"><a href="{% url 'productDetailsPage' product_id=i.product_fk.product_id %}">{{i.brand_item_fk.brand_fk.brand_name}}</a></p>
                                </div>
                                <ul class="color-categories">
                                    <li>
                                        <a class="c-red" href="#" title="Red" style="background-color:rgb(177, 1, 1)"></a>
                                    </li>
                                    <li>
                                        <a class="c-green" href="#" title="Green" style="background-color:rgb(3, 111, 15)"></a>
                                    </li>
                                    <li>
                                        <a class="c-blue" href="#" title="Blue" style="background-color:rgb(4, 134, 186)"></a>
                                    </li>
                                    <li>
                                        <a class="c-yellow" href="#" title="Yellow" style="background-color:rgb(208, 196, 41)"></a>
                                    </li>
                                </ul>
                                <h6 class="product-name">
                                    <a href="{% url 'productDetailsPage' product_id=i.product_fk.product_id %}">{{i.product_name}}</a>
                                </h6>
                                <div class="price-box">
                                    <span class="price-regular">₹ {{i.product_fk.product_discounted_price}}</span>
                                    <span class="price-old"><del>₹ {{i.product_fk.product_price}}</del></span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <!-- product item end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- featured product area end -->

    
    <!-- brand logo area start -->
    <div class="brand-logo section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-logo-carousel slick-row-10 slick-arrow-style">
                        <!-- single brand start -->
                        <div class="brand-item">
                            <a href="#">
                                <img src="{% static 'img/brand/1.png' %}" alt="">
                            </a>
                        </div>
                        <!-- single brand end -->

                        <!-- single brand start -->
                        <div class="brand-item">
                            <a href="#">
                                <img src="{% static 'img/brand/2.png' %}" alt="">
                            </a>
                        </div>
                        <!-- single brand end -->

                        <!-- single brand start -->
                        <div class="brand-item">
                            <a href="#">
                                <img src="{% static 'img/brand/3.png' %}" alt="">
                            </a>
                        </div>
                        <!-- single brand end -->
                        
                        <!-- single brand start -->
                        <div class="brand-item">
                            <a href="#">
                                <img src="{% static 'img/brand/4.png' %}" alt="">
                            </a>
                        </div>
                        <!-- single brand end -->
                        
                        <!-- single brand start -->
                        <div class="brand-item">
                            <a href="#">
                                <img src="{% static 'img/brand/5.png' %}" alt="">
                            </a>
                        </div>
                        <!-- single brand end -->
                        
                        <!-- single brand start -->
                        <div class="brand-item">
                            <a href="#">
                                <img src="{% static 'img/brand/6.png' %}" alt="">
                            </a>
                        </div>
                        <!-- single brand end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand logo area end -->
</main>
{% endblock body %}