{% extends 'base.html'%}
{% load static %}
{% block title %} Wishlist | Corano - Jwellery Store {% endblock title %}
{% block body %} 
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'homePage' %}"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'shopPage' %}">shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">wishlist</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

    <!-- wishlist main wrapper start -->
    <div class="wishlist-main-wrapper section-padding">
        <div class="container">
            <!-- Wishlist Page Content Start -->
            <div class="section-bg-color">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Wishlist Table Area -->
                        <div class="cart-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">Thumbnail</th>
                                        <th class="pro-title">Product</th>
                                        <th class="pro-price">Price</th>
                                        <th class="pro-quantity">Stock Status</th>
                                        <th class="pro-subtotal">Add to Cart</th>
                                        <th class="pro-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in wishlist_data %}
                                    <tr>
                                        <td class="pro-thumbnail"><a href="{% url 'productDetailsPage' product_id=i.product_fk.product_id %}"><img class="img-fluid" src="{{ i.product_image_fk.image_path }}" alt="Product" /></a></td>
                                        <td class="pro-title"><a href="#">{{i.product_fk.product_name}}</a></td>
                                        <td class="pro-price"><span>Rs. {{i.product_price_fk.product_price}}</span></td>
                                        <td class="pro-quantity"><span class="text-success">In Stock</span></td>
                                        <td class="pro-subtotal"><a href="{% url 'addToCartPage' product_id=i.product_fk.product_id %}" class="btn btn-sqr">Add toCart</a></td>
                                        <td class="pro-remove"><a href="{% url 'wishlistDeletePage' wishlist_item_id=i.wishlist_item_id %}"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Wishlist Page Content End -->
        </div>
    </div>
    <!-- wishlist main wrapper end -->
</main>
{% endblock body %}