{% extends 'base.html'%}
{% load static %}

{% block title %} Checkout | Corano - Jwellery Store {% endblock title%}

{% block body %}
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'homePage' %}"><i
                                            class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'shopPage' %}">shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">checkout</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

    <!-- checkout main wrapper start -->
    <div class="checkout-page-wrapper section-padding">
        <div class="container">
            <div class="row">
                <!-- Checkout Billing Details -->
                <div class="col-lg-6">
                    {% if success_message %}
                    <div class="alert alert-success" role="alert">
                        {{ success_message }}
                    </div>
                    {% endif %}
                    <div class="checkout-billing-details-wrap">
                        <h5 class="checkout-title">Billing Details</h5>
                        <div class="billing-form-wrap">
                            <form action="{% url 'create_checkout_session' %}" method="POST">{% csrf_token %}
                                {% if user_addresses %}
                                <div class="address-selection">
                                    <h6>Select Billing Address</h6>
                                    {% for i in user_addresses %}
                                    <div class="custom-control custom-radio" style="padding-top: 20px;">
                                        <input type="radio" id="{{i.address_id}}" name="billing_address"
                                            class="custom-control-input" value="{{ i.address_id }}" required>

                                        <label class="custom-control-label" for="{{i.address_id}}">
                                            <address>
                                                <p><strong>{{ i.deliver_to_whom }}</strong></p>
                                                <p>{{ i.house_no }} {{ i.residence_name }},<br>
                                                    {{ i.landmark }},{{ i.city }},{{ i.pin_code }}<br>
                                                    {{ i.state }},{{ i.country }}</p>
                                                <p>Mobile: {{ i.deliver_to_contact }}</p>
                                            </address>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <p>You haven't added any addresses yet.</p>
                                {% endif %}
                        </div>
                    </div>
                    <a href='{% url "add_address" %}' class="btn btn-hero">Add Address</a>
                </div>

                <!-- Order Summary Details -->
                <div class="col-lg-6">
                    <div class="order-summary-details">
                        <h5 class="checkout-title">Your Order Summary</h5>
                        <div class="order-summary-content">
                            <!-- Order Summary Table -->
                            <div class="order-summary-table table-responsive text-center">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Products</th>
                                            <th>Qty</th>
                                            <th>Total</th> 
                                        </tr>
                                    </thead>
                                    {% for cart_item in cart_items %}
                                    <tbody>
                                        <tr>
                                            <td><a href="product-details.html">{{ cart_item.product_fk.product_name }}<strong></strong></a>
                                            </td>
                                            <td>{{ cart_item.items_quantity }}</td>
                                            <td>Rs.{{ cart_item.product_price_fk.final_charges }}</td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                    <tfoot>
                                        <tr>
                                            <td>Sub Total</td>
                                            <td><strong>Rs. {{ subtotal }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Shipping</td>
                                            <td class="d-flex justify-content-center">
                                                <ul class="shipping-type">
                                                    <li>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="flatrate" name="shipping"
                                                                class="custom-control-input" checked />
                                                            <label class="custom-control-label" for="flatrate">Flat
                                                                Rate: Rs.70.00</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total Amount</td>
                                            <td><strong>Rs. {{ total }}</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- Order Payment Method -->
                            <div class="order-payment-method">
                                <div class="single-payment-method show">
                                    <div class="payment-method-name">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="cashon" name="paymentmethod" value="cash"
                                                class="custom-control-input" checked />
                                            <label class="custom-control-label" for="cashon">Cash On Delivery</label>
                                        </div>
                                    </div>
                                    <div class="payment-method-details" data-method="cash">
                                        <p>Pay with cash upon delivery.</p>
                                    </div>
                                </div>
                                <div class="single-payment-method">
                                    <div class="payment-method-name">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="directbank" name="paymentmethod" value="bank"
                                                class="custom-control-input" />
                                            <label class="custom-control-label" for="directbank">Direct Bank
                                                Transfer</label>
                                        </div>
                                    </div>
                                    <div class="payment-method-details" data-method="bank">
                                        <p>Make your payment directly into our bank account. Please use your Order
                                            ID as the payment reference. Your order will not be shipped until the
                                            funds have cleared in our account..</p>
                                    </div>
                                </div>
                                <div class="single-payment-method">
                                    <div class="payment-method-name">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="checkpayment" name="paymentmethod" value="check"
                                                class="custom-control-input" />
                                            <label class="custom-control-label" for="checkpayment">Pay with
                                                Check</label>
                                        </div>
                                    </div>
                                    <div class="payment-method-details" data-method="check">
                                        <p>Please send a check to Store Name, Store Street, Store Town, Store State
                                            / County, Store Postcode.</p>
                                    </div>
                                </div>
                                <div class="single-payment-method">
                                    <div class="payment-method-name">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="paypalpayment" name="paymentmethod" value="paypal"
                                                class="custom-control-input" />
                                            <label class="custom-control-label" for="paypalpayment">Paypal <img
                                                    src="{% static 'img/paypal-card.jpg' %}"
                                                    class="img-fluid paypal-card" alt="Paypal" /></label>
                                        </div>
                                    </div>
                                    <div class="payment-method-details" data-method="paypal">
                                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a
                                            PayPal account.</p>
                                    </div>
                                </div>
                                <input type="hidden" name="total" value="{{ total }}">
                                <input type="hidden" name="total_quantity" value="{{ total_quantity }}">
                                <div class="summary-footer-area">
                                    <div class="custom-control custom-checkbox mb-20">
                                        <input type="checkbox" class="custom-control-input" id="terms" required />
                                        <label class="custom-control-label" for="terms">I have read and agree to
                                            the website <a href="{% url 'homePage' %}">terms and
                                                conditions.</a></label>
                                    </div>
                                    <button type="submit" class="btn btn-sqr">Place Order</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkout main wrapper end -->
</main>

{%endblock body%}